# Use yfinance to Extract Stock Data

In [1]:
##Use yfinance to Extract Stock Data
import yfinance as yf
import pandas as pd

In [2]:
#Extracting TESLA stock data using yfinance
tesla = yf.Ticker("TSLA")

In [3]:
#Extracting histrorical TESLA Stock data
tesla_data =tesla.history(period = "max")

In [4]:
#Reset the index
tesla_data.reset_index(inplace=True)

In [5]:
#Printing first five row
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0

# Use Webscraping to Extract Tesla Revenue Data

In [6]:
#Use Webscraping to Extract Tesla Revenue Data
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4

zsh:1: command not found: mamba
zsh:1: command not found: mamba
Requirement already satisfied: lxml==4.6.4 in /Users/parladdhungana/opt/anaconda3/lib/python3.9/site-packages (4.6.4)

In [7]:
import requests
from bs4 import BeautifulSoup

In [8]:
url =  "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data  = requests.get(url).text
#Parse the html data using beautiful_soup.
soup = BeautifulSoup(html_data, 'html5lib')

In [9]:
read_html_pandas_data = pd.read_html(url)

In [10]:
tesla_revenue = read_html_pandas_data[1]

tesla_revenue.columns = ['Date', 'Revenue']
tesla_revenue.head()

         Date  Revenue
0  2022-06-30  $16,934
1  2022-03-31  $18,756
2  2021-12-31  $17,719
3  2021-09-30  $13,757
4  2021-06-30  $11,958

In [11]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

/var/folders/d6/7rvzm8t13b734c45sb4r8zrw0000gn/T/ipykernel_1851/349343550.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [12]:

tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [13]:
tesla_revenue.tail(5)

          Date Revenue
47  2010-09-30      31
48  2010-06-30      28
49  2010-03-31      21
51  2009-09-30      46
52  2009-06-30      27